.container {
     background-image: url("../public/background_homepage.jpg");
     filter: blur(8px);
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
}